.navbar{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.logo{
    width: 20%;
}
.list{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list>li{
    list-style: none;
}
.list>li>a{
    text-decoration: none;
    color:snow;
    font-size: 18px;
}