.navbar{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5763ee;
}
.logo{
    width: 20%;
}
.list{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list>li{
    list-style: none;
}
.list>li>a{
    text-decoration: none;
    color:snow;
    font-size: 18px;
}
.list>li:nth-child(5),
.list>li:nth-child(6){
    background-color: rgb(228, 51, 80);
    padding: 5px 10px;
    border-radius: 5px;
}